@font-face {
	font-family: "Nunito-Regular";
	src: url(../../assets/fonts/Nunito_Sans/NunitoSans-Regular.ttf);
}

@font-face {
	font-family: "Montserrat-SemiBold";
	src: url(../../assets/fonts/Montserrat/Montserrat-SemiBold.ttf);
}

.card__views {
  margin: 24px 0 16px 48px;
  position: relative;
  font-size: 14px;
  line-height: 19px;
  color: #181818;
	font-family: "Nunito-Regular", sans-serif;
  text-align: left;
}

.card__views::before {
  content: "";
  background-image: url('../../assets/icons/views.svg');
  display: block;
  width: 16px;
  height: 11px;
  position: absolute;
  left: -25px;
  top: 4px;
  transition: all 0.3s;
}

.card__title {
  font-size: 20px;
  line-height: 24px;
  color: #181818;
	font-family: "Montserrat-SemiBold", sans-serif;
  text-align: left;
}

.card__author,.card__likes,.card__comments{
  position: relative;
  font-size: 14px;
  line-height: 19px;
  color: #181818;
  font-family: "Nunito-Regular", sans-serif;
}

.card__likes {
  margin: 0 47px 0 25px;
}

.card__likes::before {
  content: "";
  background-image: url('../../assets/icons/likes.svg');
  display: block;
  width: 17px;
  height: 15px;
  position: absolute;
  left: -27px;
  top: 2px;
  transition: all 0.3s;
}

.card__comments::before {
  content: "";
  background-image: url('../../assets/icons/comments.svg');
  display: block;
  width: 15px;
  height: 15px;
  position: absolute;
  left: -27px;
  top: 2px;
  transition: all 0.3s;
}
