@font-face {
	font-family: "Nunito-Bold";
	src: url(../../assets/fonts/Nunito_Sans/NunitoSans-Bold.ttf);
}

.btn {
  max-width: 225px;
  max-height: 54px;
  display: flex;
  justify-content: center;
  padding: 12px 32px;
  border: 2px solid #FFBC01;
  background-color: #FFF;
  border-radius: 10px;
  color: #FFBC01;
  font-size: 20px;
  line-height: 30px;
	font-family: "Nunito-Bold", sans-serif;
  cursor: pointer;
}