.popup-wrapper {
  height: 100%;
    width: 100%;
  background-color: rgba(24, 24, 24, 0.4);
  /* position: fixed; */
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  opacity: 0;
  pointer-events: none;
  transition: .4s;
}

.popup-wrapper.active {
  opacity: 1;
  pointer-events: all;
}

.popup {
  padding: 72px 56px;
  margin-top: 300px;
  width: 1016px;
height: 1543px;
background-color: #fff;
box-shadow: 0px 18px 60px rgba(24, 24, 24, 0.7);
border-radius: 10px;
transform: scale(0.5);
transition: all 0.3s;
}

.popup.active {
transform: scale(1);
}
