@font-face {
	font-family: "Montserrat-Bold";
	src: url(../../assets/fonts/Montserrat/Montserrat-Bold.ttf);
}

@font-face {
	font-family: "Nunito-SemiBold";
	src: url(../../assets/fonts/Nunito_Sans/NunitoSans-SemiBold.ttf);
}

@font-face {
	font-family: "Nunito-Bold";
	src: url(../../assets/fonts/Nunito_Sans/NunitoSans-Bold.ttf);
}

@font-face {
	font-family: "Nunito-Regular";
	src: url(../../assets/fonts/Nunito_Sans/NunitoSans-Regular.ttf);
}

.login {
  width: 600px;
  height: 654px;
  padding-left: 56px;
  padding-top: 56px;
  background-color: #fff;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.08);
  margin-left: 13.6%;
  z-index: 2;
  border-radius: 50px 10px;
}

.login__title {
  margin-top: 48px;
  font-size: 40px;
  line-height: 48px;
  color: #181818;
  font-family: "Montserrat-Bold", sans-serif;
}

.login__subtitle {
  margin-top: 8px;
  font-size: 16px;
  line-height: 22px;
	font-family: "Nunito-SemiBold", sans-serif;
  color: #181818;
}

.login__create-link {
  color: #FFBC01;
	font-family: "Nunito-Regular", sans-serif;
  text-decoration: none;
  margin-left: 10px;
}

.login__input-field {
  margin-top: 60px;
  position: relative;
}

.login__input {
  width: 488px;
  height: 54px;
  color: #494949;
  font-size: 18px;
  font-family: "Nunito-Regular", sans-serif;
  padding-left: 20px;
  border: 1px solid #DADADA;
  border-radius: 8px;
  outline: none;
}

.login__label {
  position: absolute;
  top: -30px;
  color: #494949;
  left: 0;
}

.login__btn {
  width: 488px;
  height: 54px;
  margin-top: 56px;
  background: #FFBC01;
  border-radius: 10px;
  color: #181818;
  font-size: 20px;
  line-height: 30px;
  font-family: "Nunito-Bold", sans-serif;
  outline: none;
  border: 0;
}
